- strong_start = "<strong>".html_safe
- strong_end = "</strong>".html_safe

.modal.js-confirm-project-visiblity{ tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h1.page-title= _('Reduce this project’s visibility?')
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": "true" }= sprite_icon("close")
      .modal-body
        %p
          - if @project.group
            = _("You're about to reduce the visibility of the project %{strong_start}%{project_name}%{strong_end} in %{strong_start}%{group_name}%{strong_end}.").html_safe % { project_name: @project.name, group_name: @project.group.name, strong_start: strong_start, strong_end: strong_end }
          - else
            = _("You're about to reduce the visibility of the project %{strong_start}%{project_name}%{strong_end}.").html_safe % { project_name: @project.name, strong_start: strong_start, strong_end: strong_end }
        %p
          = _('Once you confirm and press "Reduce project visibility":')
        %ul
          %li
            = _("Current forks will keep their visibility level.").html_safe
        %label{ for: "confirm_path_input" }
          = _("To confirm, type %{phrase_code}").html_safe % { phrase_code: '<code class="js-legacy-confirm-danger-match">%{phrase_name}</code>'.html_safe % { phrase_name: @project.full_path } }
        .form-group
          = text_field_tag 'confirm_path_input', '', class: 'form-control js-legacy-confirm-danger-input qa-confirm-input'
        .form-actions
          %button.btn.gl-button.btn-default.gl-mr-4{ type: "button", "data-dismiss": "modal" }
            = _('Cancel')
          = submit_tag _('Reduce project visibility'), class: "btn gl-button btn-danger js-legacy-confirm-danger-submit qa-confirm-button", disabled: true
